﻿@{
    ViewData["Title"] = "Confirm Email";
}

<div class="row">
    <p class="bg-success">
        Thank you for confirming your email. Please <a asp-controller="Account" asp-action="Login">Click here to Log in</a>.
    </p>
</div>
