﻿@{
    ViewData["Title"] = "We have recieved your registration";
}

<h2>@ViewData["Title"].</h2>

<div>
    <p class="bg-success">
        Thank you for registering with Tridoo. You will have to confirm your email address before you can login.
    </p>
</div>
