﻿@model RegisterViewModel

<div class="container" style="margin-top:40px">

    @Html.Partial("_ValidationSummary")

    <div class="row main">

        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Register</h3>
                </div>
                <div class="panel-body">
                    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div class="row">
                            <div class="center-block">
                                <img class="profile-img"
                                     src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-10 col-md-offset-1">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-user"></i>
                                        </span>
                                        <input class="form-control" placeholder="Firstname" asp-for="User.Name" autofocus required>
                                        <span asp-validation-for="User.Name" class="text-danger" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-user"></i>
                                        </span>
                                        <input class="form-control" placeholder="Lastname" asp-for="User.LastName" required>
                                        <span asp-validation-for="User.LastName" class="text-danger" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-globe"></i>
                                        </span>
                                        <input class="form-control" placeholder="Hotel ID" asp-for="User.HotelId">
                                        <span asp-validation-for="User.HotelId" class="text-danger" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-envelope"></i>
                                        </span>
                                        <input class="form-control" placeholder="Email" asp-for="Email" />
                                        <span asp-validation-for="Email" class="text-danger" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                        <input type="password" asp-for="Password" placeholder="Password" class="form-control form-input" autocomplete="off" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                        <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" class="form-control form-input" autocomplete="off" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer ">
                    Already have an account! <a asp-action="Login" asp-controller="Account"> Login Here</a>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
        <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <h4 class="order-create-section-title">CREATE NEW ACCOUNT</h4>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label asp-for="User.Name" class="control-label form-label">NAME</label>
                    <input asp-for="User.Name" class="form-control form-input" />
                    <span asp-validation-for="User.Name" class="text-danger" />
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="User.LastName" class="control-label form-label">LAST NAME</label>
                    <input asp-for="User.LastName" class="form-control form-input" />
                    <span asp-validation-for="User.LastName" class="text-danger" />
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="User.Street" class="control-label form-label">ADDRESS</label>
                    <input asp-for="User.Street" class="form-control form-input" />
                    <span asp-validation-for="User.Street" class="text-danger" />
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="User.City" class="control-label form-label"></label>
                    <input asp-for="User.City" class="form-control form-input" />
                    <span asp-validation-for="User.City" class="text-danger" />
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="User.State" class="control-label form-label"></label>
                    <input asp-for="User.State" class="form-control form-input" />
                    <span asp-validation-for="User.State" class="text-danger" />
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="User.Country" class="control-label form-label"></label>
                    <input asp-for="User.Country" class="form-control form-input" />
                    <span asp-validation-for="User.Country" class="text-danger" />
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="User.Zip" class="control-label form-label">POSTCODE</label>
                    <input asp-for="User.Zip" class="form-control form-input" />
                    <span asp-validation-for="User.Zip" class="text-danger" />
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="User.PhoneNumber" class="control-label form-label">PHONE NUMBER</label>
                    <input asp-for="User.PhoneNumber" class="form-control form-input" />
                    <span asp-validation-for="User.PhoneNumber" class="text-danger" />
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="User.HotelId" class="control-label form-label">Hotel Id</label>
                    <input asp-for="User.HotelId" class="form-control form-input" />
                    <span asp-validation-for="User.HotelId" class="text-danger" />
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="form-group col-sm-6">
                    <label asp-for="Email" class="control-label form-label"></label>
                    <input asp-for="Email" class="form-control form-input" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-offset-6"></div>
                <div class="form-group col-sm-6">
                    <label asp-for="Password" class="control-label form-label"></label>
                    <input asp-for="Password" class="form-control form-input" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="ConfirmPassword" class="control-label form-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control form-input" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <br /><br />
            <div class="form-group">
                <button type="submit" class="btn btn-default btn-brand">&nbsp;Register&nbsp;</button>
            </div>
            <br /><br />
        </form>
    </div>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
